


<section class="__about">
    
    <div class="image">
        <img src="{{ url_for("static", filename='images/me.jpg') }}" alt="">
    </div>
    <div class="__about-text">
        <h1 class="a_h1">About Me</h1>
        <p class="a_p">


            <p>
                    Hello! I’m Gian E. Espineda, a recent
                    <strong> BS Information Technology</strong>
                    graduate from <strong>
                        Aemilianum College Inc.
                    </strong> With a strong foundation in Python web development (Django, Flask), I’m eager to launch my career in the tech industry and contribute to innovative projects.

                </p>

        </p>
        <p class="a_p">

                I’m actively seeking opportunities where I can grow as a developer, collaborate with talented teams, and enhance my skills in web development to make an impact. Let’s connect and build something great together!


        </p>
        <p class="a_p">

                            When I'm not coding, I love to unwind by going to the beach. I also make sure to hit the gym—it keeps me energized and balanced!

        </p>
    </div>

</section>